/ED/Unidad2/Tarea/nbproject/private/
/ED/Unidad2/CarpetaTarea/nbproject/private/
/PROG/Unidad2/Tarea2/nbproject/private/
/PROG/Unidad2/Tarea2/build/
/PROG/Unidad3/Tarea031Articulo,/nbproject/private/
/PROG/Unidad3/Tarea031Articulo/nbproject/private/
/PROG/Unidad3/Tarea031Articulo/build/
/PROG/Unidad3/aplicación_movil/nbproject/private/
/PROG/Unidad3/aplicación_movil/build/